.carrosel-produtos-img {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    justify-content: center;
    width: 100vw;
    scroll-snap-type: x mandatory;
    animation: slideFromLeft 1s ease-out forwards;  /* Aplicando a animação */
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);  /* Começa fora da tela à esquerda */
    }
    100% {
        transform: translateX(0);  /* Termina no lugar original */
    }
}


.carrosel-container {
    width: 40vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    scroll-snap-align: center;
}

.upload-btn {
    background: rgba(0, 0, 0, 0.339);
    color: white;
    border: none;
    width: 70px; /* Tamanho ajustado */
    height: 70px; /* Tamanho ajustado */
    border-radius: 50%; /* Torna o botão circular */
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centraliza o botão */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.ajustar-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.titulo-forms {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 25px;
    text-transform: uppercase;
    color:rgb(40, 40, 40);
    border-bottom: 2px solid rgb(40, 40, 40);
    animation: borderbottom 3s ease-out;
}

@keyframes borderbottom {
    0% {
        width: 25%;
        border-bottom: 2px solid rgb(40, 40, 40);
    }
    100% {
        width: 100%;
        border-bottom: 2px solid rgb(40, 40, 40);
        transition: 1s;
    }
}
.nome_produto {
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    text-transform: uppercase;
    animation-delay: 0.2s;
}
.info-organizar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    text-transform: uppercase;
    margin-top: 5vh;
}
.marca_produto {
    width: 68%;
    animation-delay: 0.4s;
}
.cor_produto {
    width: 30%;
    animation-delay: 0.4s;
}
.categoria_produto {
    width: 68%;
    animation-delay: 0.6s;
}
.material_produto {
    width: 30%;
    animation-delay: 0.6s;
}
.peso_produto {
    width: 27%;
    animation-delay: 0.8s;
}
.valor_produto {
    width: 71%;
    animation-delay: 0.8s;
}
.descricao_produto {
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    text-transform: uppercase;
    animation-delay: 1s;
}
.nome_produto, .info-organizar, .marca_produto, .cor_produto, .categoria_produto, .material_produto, .peso_produto, .valor_produto, .descricao_produto {
    animation: slideUp 1s ease-out forwards;
    opacity: 0;
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.inputs-produtos {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
}

.inputs-produtos:focus {
    border-color: #5c9ded;
    outline: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
}
textarea:focus {
    border-color: #5c9ded;
    outline: none;
}
.salvar_produto {
    cursor: pointer;
    width: 100%;
    height: 7vh;
    margin-top: 20vh;
    margin-bottom: 5vh;
    background-color: #5c9ded;
    border: none;
    color:white;
    border-radius: 5px;
    transition: 1s;
}
.salvar_produto:hover {
    transition: 1s;
    background-color: #87b7f0;
}
.situacao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    color: rgb(29, 29, 29);
    font-family: 20px;
    text-transform: uppercase;
}