.container-editar {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    text-transform: uppercase;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
    align-items: center;
}

th {
    background-color: #e1e1e1;
    border-bottom: 1px solid #d4d4d4;
    color: rgb(26, 26, 26);
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

tr:hover {
    background-color: #f1f1f1;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
}

input[type="text"]:focus {
    border-color: #5c9ded;
    outline: none;
}

input[type="number"] {
    width: 100%;
    height: 5.5vh;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type="number"]:focus {
    border-color: #5c9ded;
    outline: none;
}
.situacao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    color: rgb(29, 29, 29);
    font-family: 20px;
    text-transform: uppercase;
}