.container-pedido {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.titulo-pedido {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 23px;
    color: #333;
}
.titulo-itens-pedido {
    width: 100%;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.itens-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}
.produto {
    margin-top: 15px;
    width: 300px;
    text-align: center;
}
.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.nome-item {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
}

.dados-pedido {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dados {
    width: 50%;
    margin-top: 10px;
    border-right: 1px solid rgb(212, 212, 212);
}

.dados2 {
    width: 49%;
    margin-top: 10px;
}
.info {
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
    margin-top: 7px;
}

.titulo-endereco {
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
}