.container-perfil {
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    animation: slideFromLeft 0.8s ease-out forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translatey(100vh);
        opacity: 0;
    }
    to {
        transform: translatey(0);
        opacity: 1;
    }
}

.perfil-header {
    width: 50%;
    height: 95%;
    padding: 5px;
    border-right: 1px solid rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil-iniciais {
    width: 400px;
    height: 400px;
    background-color: rgb(122, 122, 122);
    color: white;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 5px black;
}

.dados-perfil {
    width: 50%;
    height: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.id-usuario {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.nome-usuario {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.dados {
    width: 100%;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.dados-usuario {
    font-size: 14px;
    display: block;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.email-usuario {
    margin-top:20px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.dados-adicionais {
    width:100%;
    height: 95%;
    display: flex;
    flex-direction: column;
  }
  .orientar-dados {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cpf {
    width: 60%;
  }
  
  .cep {
    width: 39%;
  }
 
  .estado {
    width: 15%;
  }

  .cidade {
    width: 47%;
  }

.rua {
    width: 50%;
}

.complemento {
    width: 49%;
}
  .dados-adicionais label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
  }
  .dados-adicionais input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
  }

  .dados-adicionais input:focus {
    border-color: #5c9ded;
    outline: none;
}
  .dados-adicionais button {
    margin-top: 3vh;
    cursor: pointer;
    width: 100%;
    height: 7vh;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 93, 222);
    color: white;
    transition: 1s;
  }

  .dados-adicionais button:hover {
    transform: scale(1.02);
    transition: 1s;
    background-color: rgb(83, 152, 255);
  }

  .container-pedidos {
    width: 90vw;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;

  }

  .titulo-pedido {
    width: 100%;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(82, 82, 82);
    font-size: 15px;
    color: #555;
    text-transform: uppercase;
  }

  .pedido {
    width:100%;
    height: 15vh;
    max-height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(82, 82, 82);
  }

  .id-pedido {
    width: 15%;
    height: 12vh;
    padding: 5px;
    border-right: 1px solid rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #070707;
    text-transform: uppercase;
  }
.subtitulo-pedido {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 2vh;
}
  .itens-pedido {
    width:36%;
    height: 12vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    font-size: 13px;
    color: #070707;
    text-transform: uppercase;
    text-align: justify;
    border-right: 1px solid rgb(210, 210, 210);
    overflow-y: auto;
  }

  .valor-pedido {
    width:28%;
    height: 12vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    font-size: 13px;
    color: #070707;
    text-transform: uppercase;
    border-right: 1px solid rgb(210, 210, 210);
  }

  .status-pedido {
    width:28%;
    height: 12vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    font-size: 13px;
    color: #070707;
    text-transform: uppercase;
    border-right: 1px solid rgb(210, 210, 210);
  }

  .endereco-pedido {
    width:50%;
    height: 12vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    font-size: 13px;
    color: #070707;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid rgb(210, 210, 210);
  }

  .data-pedido {
    width:20%;
    height: 12vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    font-size: 13px;
    color: #070707;
    text-transform: uppercase;
    text-align: justify;
  }